/* 	Mustafa Raza Ishaq
	mustafa.ishaq@gmail.com

	June 2015

	SpringCM - Interface Exercise
*/


*{
	margin: 0;
	padding: 0;
	font-size: 1em;
}

/* HTML5 Shiv */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

h1,h2,h3,h4,h5{
	display: inline-block;
}

#main-wrapper{
	width: 100%;
	background: beige;
}

#main-wrapper header{
	border-bottom:2px solid gray;
	position: fixed;
  	top: 0;
}

#main-wrapper header,
#grid-wrapper{
	width:90%;
}

#grid-wrapper{
	height: 200px;
	overflow-y:scroll;
	font-size: .9rem;
	position: relative;
	top: 1.6rem;
}

#grid-wrapper header span{
	font-weight: bold;
	float: left;
}
#main-wrapper .inline-block{
	display: inline-block;

}

#main-wrapper span{
	line-height: 1.6rem;
}

#main-wrapper span a{
	font-size: 1em;
	text-decoration: none;
	color: #000;
}

#main-wrapper span.type{
	display: inline-block;
	width: 10%;
}

#main-wrapper span.name{
	display: inline-block;
	width: 40%;
}

#main-wrapper span.description{
	display: inline-block;
	width: 25%;
}

#main-wrapper span.modifiedDate{
	display: inline-block;
	width: 25%;
}

#main-wrapper article{
	border-bottom:1px solid gray;
}

.header-text{
	font-weight: bold;
	font-size: 1.5rem;
}
.actionButton{
	background: gray;
	color: white;
	height: 45px;
	width: 45px;
}

#drawer-wrapper{
	position: absolute;
	right: 0;
}
.drawerToggle{
	background:rgb(41,189,190);
}
