/* 	Mustafa Raza Ishaq
	mustafa.ishaq@gmail.com

	June 2015

	SpringCM - Interface Exercise
*/


*{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

/* HTML5 Shiv */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

h1,h2,h3,h4,h5{
	display: inline-block;
}

/*
    nice little shadow on the top of the body
    look near the bottom of the address bar to see it!
*/
body:before { 
  content: "";
  height: 10px;
  left: 0;
  position: fixed;
  top: -10px;
  width: 100%;
  z-index: 100;
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -ms-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

#main-wrapper{
	width: 100%;
/*	background: rgb(39,40,34);
	color: #fff;*/
}

#logo{
	border-bottom:2px solid gray;
}
#logo .logo{
  left: 15px;
  position: relative;
}
/* email me by clicking on my name! */
#status{
  float: right;
  line-height: 49px;
  padding-right: 10px;
}

#status a{
  color: #28bdbe;
  font-weight: bold;
  text-decoration: none;

  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#status a:hover{
  color: rgb(234,137,35);
  font-weight: bold;
}

#main-wrapper #grid-wrapper header{
  background: #fff;
  border-bottom: 2px solid gray;
  position: fixed;
  width: 95%;
  z-index: 10;
}

#main-wrapper header{
	width:100%;

}

#grid-wrapper{
  float: left;
  font-size: .7rem;
  overflow-y:scroll;
  width: 95%;
  border-bottom: 5px solid black;
}
#scrollable-grid{
  height: 240px;
  position: relative;
  overflow: hidden;
  top: 2.0rem;

}
#scrollable-grid .gridList{
  height: 2.0rem;
  line-height: 2.0rem;
  list-style: none;
}

#grid-wrapper header span{
  float: left;
  font-weight: bold;
}
#main-wrapper .inline-block{
	display: inline-block;

}

#main-wrapper span{
  float: left;
  height: 2.0rem;
  line-height: 2.0rem;
}

#main-wrapper span a{
  color: rgb(234,137,35);
  font-size: 1em;
  text-decoration: none;
}

#main-wrapper #grid-wrapper span.type{
	display: inline-block;
	width: 10%;
}

#main-wrapper span.type{
	text-align: center;
}

#main-wrapper #grid-wrapper span.name{
	display: inline-block;
	width: 40%;
}

#main-wrapper #grid-wrapper span.description{
	display: inline-block;
	width: 25%;
}

#main-wrapper #grid-wrapper span.modifiedDate{
	display: inline-block;
	width: 25%;
}

#main-wrapper #grid-wrapper article{
  border-bottom:1px solid gray;
  cursor: pointer;
  height: 2.0rem;
  line-height: 2.0rem;

  -moz-transition:.3s all;
  -ms-transition:.3s all;
  -webkit-transition:.3s all;
  transition:.3s all;
}

#main-wrapper #grid-wrapper article:hover{
  background: rgb(248,183,21);
  color: white;
}

.header-text{
  font-size: 1.5rem;
  font-weight: bold;
}

#drawer-wrapper{

  background-color: white;
  border-bottom: 5px solid black;
  border-left: 2px solid black;
  float: left;
  height: 240px;
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: 20;

  -moz-transform: translateX(0);
  -moz-transition: all .3s;
  -ms-transform: translateX(0);
  -ms-transition: all .3s;
  -webkit-transform: translateX(0);
  -webkit-transition: all .3s;
  transform: translateX(0);
  transition: all .3s;
}

#drawer-wrapper.open{
  width: 275px;
  background-color: rgb(41,189,190);
}

#drawer-wrapper.closed{
  width: 5%;
    min-width: 65px;
}

.action_button{
  display: inline-block;
  float: left;
  margin: 0;
  position: relative;
  width: 60px;
  z-index: 1;
}

#drawer-wrapper.open .action_button{
  margin: 1px 3px;
}

.action_button img{
  position: relative;top: 15px;
}

.action_button:hover img{
  transform:scale(1.1);
}

.action_button:before{
  border-top: 3px solid rgb(234,137,35);
  content: "";
  display: block;
  height: 0;
  left: 2px;
  position: absolute;
  top: 0px;
  width: calc(100% + 2px);
  z-index: 999;

  -moz-transform: scaleX(0);
  -moz-transition: all 0.2s ease-out 0.2s;
  -ms-transform: scaleX(0);
  -ms-transition: all 0.2s ease-out 0.2s;
  -webkit-transform: scaleX(0);
  -webkit-transition: all 0.2s ease-out 0.2s;
  box-sizing: content-box;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.2s ease-out 0.2s;
}
.action_button:after{
  border-top: 3px solid rgb(234,137,35);
  bottom: 0px;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  right: -2px;
  width: calc(100% + 2px);
  z-index: 999;

  -moz-transform-origin: right;
  -moz-transform: scaleX(0);
  -moz-transition: all 0.2s ease-out 0.2s;
  -moz-transition: all 0.2s ease-out 0.2s;
  -ms-transform-origin: right;
  -ms-transform: scaleX(0);
  -ms-transition: all 0.2s ease-out 0.2s;
  -ms-transition: all 0.2s ease-out 0.2s;
  -webkit-transform-origin: right;
  -webkit-transform: scaleX(0);
  -webkit-transition: all 0.2s ease-out 0.2s;
  -webkit-transition: all 0.2s ease-out 0.2s;
  box-sizing: content-box;
  transform-origin: right;
  transform: scaleX(0);
  transition: all 0.2s ease-out 0.2s;
}
.action_button:hover:before, .action_button:hover:after{

  -moz-transform: scaleX(1);
  -moz-transition: all 0.2s ease-in;
  -ms-transform: scaleX(1);
  -ms-transition: all 0.2s ease-in;
  -webkit-transform: scaleX(1);
  -webkit-transition: all 0.2s ease-in;
  transform: scaleX(1);
  transition: all 0.2s ease-in;
}
.action_button > a{
  background: white;
  display: inline-block;
  font-family: 'Raleway',sans-serif;
  font-weight: 400;
  font-size: 1em;
  width: 100%;
  height: 60px;
  color: #152f54;
  text-align: center;
  position: relative;
  border: 2px solid #28bdbe;
  line-height: 43px;
  vertical-align: middle;
  text-transform: capitalize;
  text-decoration: none;

  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.action_button:hover > a{
  color: rgb(234,137,35);
}
.action_button > a:before{
  border-left: 3px solid rgb(234,137,35);
  bottom: 0px;
  content: "";
  display: block;
  height: calc(100% + 2px);
  left: -2px;
  position: absolute;
  width: 0;
  z-index: 999;

  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}
.action_button > a:after{
  border-left: 3px solid rgb(234,137,35);
  content: "";
  display: block;
  height: calc(100% + 2px);
  position: absolute;
  right: -2px;
  top: 0px;
  width: 0;
  z-index: 999;

  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -webkit-transition: all 0.2s ease-in;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.2s ease-in;
}
.action_button:hover > a:before, .action_button:hover > a:after{

  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -webkit-transition: all 0.2s ease-out 0.2s;
  transform: scaleY(1);
  transition: all 0.2s ease-out 0.2s;
}

.drawer-top{
  height: calc(100% + -40px);
  overflow: hidden;
  rgb(41,189,190)
}
#action-drawer-toggle{
  background:rgb(41,189,190);
  bottom: 0;
  color: white;
  cursor: pointer;
  height: 41px;
  line-height: 41px;
  position: absolute;
  text-align: center;
  width: 100%;
}