<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Interface Exercise - Mustafa Ishaq">
	<meta name="keywords" content="HTML,CSS,Angular,AJAX,JavaScript">
	<meta name="author" content="Mustafa Ishaq">

	<title>SpringCM | Interface Exercise</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>

</head>

<body data-ng-app="DocumentsApp" data-ng-controller="MainController">
	<div id="logo">
		<a href="{{applicationData.links.springcm}}" target="_blank">
			<img class="logo" ng-src="{{applicationData.images.logo}}" title="Click here to visit SpringCM!" />
		</a>
		<div id="status" >
			<span><a href="mailto:{{developer.email}}" title="Click to Email Moose!" target="_blank">{{developer.firstName}} {{developer.lastName}}</a></span>
		</div>
	</div>
	<div id="main-wrapper">
		<div id="grid-wrapper">
			<header>
				<span class="bold type"><a href="javascript:void(0);">{{applicationData.header.titles.type}}</a></span>
				<span class="bold name"><a href="javascript:void(0);">{{applicationData.header.titles.name}}</a></span>
				<span class="bold description"><a href="javascript:void(0);">{{applicationData.header.titles.description}}</a></span>
				<span class="bold modifiedDate"><a href="javascript:void(0);">{{applicationData.header.titles.modifiedDate}}</a></span>
			</header>
			
			<div id="scrollable-grid">
		  	 	<article ng-repeat="data in springCMData">
		  	 		<li class="gridList">
		  	 			<span ng-if="data.type == 'Folder'" class="type"><img ng-src="img/folder.png" /></span>
		  	 			<span ng-if="data.type == 'Document'" class="type"><img ng-src="img/document.png" /></span>
		  	 			<span class="name">{{data.name}}</span>
		  	 			<span class="description">{{data.description}}</span>
		  	 			<span class="modifiedDate">{{data.modifiedDate}}</span>
		  	 		</li>
		  	 	</article>
		  	 	
			</div>

		</div><!-- end #grid-wrapper -->
		<div id="drawer-wrapper" class="closed">
			<section class="drawer-top">
			<div class="action_button" ng-repeat="actions in userActions">
				<a href="javascript:void(0)">
					<img ng-src="img/{{actions.imageName}}.svg" title="{{actions.name}}" />
				</a>
			</div>
		</section>
		<section id="action-drawer-toggle" class="drawer-bottom">Open</section>
		</div>
	</div><!-- end #main-wrapper -->	
	
	
</body>
</html>




